@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{

}

<div class="col-md-12" style="text-align:center;">
    <h2>@Model.Content.Value("headline")</h2>
</div>