@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{

}
<div class="col-md-6" style="float:left;">
    <p>@Model.Content.Value("bodyText")</p>
</div>